body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  padding: 8rem 0;

  .logo {
    background:transparent url(/logo192.png) no-repeat left;
    background-size: contain;
    display: block;
    height: 2rem;
    line-height: 2rem;
    padding-left: 2.7rem;
    position: relative;
  }

  .loader-spinner {
    position: absolute;
    top: 0;
    width: 101%;
    height: 100vh;
    padding: 0;
    margin: 0;
    left: -1px;
  }

  .cards {
    .card {
      .image {
        margin: 2rem 0;
        height: 10rem;
      }
    }
  }

  .items {
    .item {
      .image {
        img {
          margin: auto;
          max-width: 50%;
          height: auto;
        }
      }
    }
  }

}
